.main {
    overflow: hidden;
}

.header {
    height: var(--header-height);
    background-image:linear-gradient(0 , #fe6233, #f6412e);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 6px 0 0 0;
    display: flex;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
}

.header__navbar-user {
    display: flex;
    justify-content: center;
    position: relative;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin: 0 4px 0 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.header__navbar-user-name {
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user-menu {
    position: absolute;
    list-style: none;
    z-index: 1;
    background-color: var(--white-color);
    top: calc(100% + 6px);
    right: 0;
    width: 160px;
    border-radius: 2px;
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0;
    display: none;
    animation: headerNotifyGrowth ease-in 0.2s;
    transform-origin: calc(100% - 30px) top;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-menu::before {
    content: "";
    position: absolute;
    border-width: 18px 22px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -28px;
    right: 12px;
}

.header__navbar-user-item::after {
    position: absolute;
    content: "";
    width: 60%;
    height: 8px;
    display: block;
    right: 0;
    top: -8px;
}

.header__navbar-user-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: #333333;
    padding: 8px 16px;
    float: left;
    width: 100%;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover {
    background-color: #fafafa;
}

.header__navbar-user-item--seperate a {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-item-link,
.header__navbar-item {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item-link,
.header__navbar-item,
.header__navbar-icon-link {
    display: flex;
    align-items: center;
}

.header__navbar-icon-link:hover,
.header__navbar-item:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;  
}

.header__navbar-item--bold {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-right: 1px solid #FB9086;
    height: 16px;
    top: 6px;
    right: -8px;
    
}

.header__navbar-icon-link {
    text-decoration: none;
}

.fa-facebook,
.fa-instagram,
.fa-bell,
.fa-circle-question {
    color: var(--white-color);
    font-size: 1.8rem;
}

.fa-facebook {
    margin-right: 8px;
}

.fa-instagram {
    font-size: 2rem;
}


.fa-bell,
.fa-circle-question {
    margin-right: -4px;
    margin-left: 16px;
}

/* Header QR code */
.header__qr {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 150%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    will-change: transform,opacity;
    animation: fadeIn ease-in 0.4s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header__qr::before {
    position: absolute;
    width: 100%;
    left: 0;
    top: -18px;
    height: 20px;
    content: "";
    display: block;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
    margin: 0 11px;
}

.header__qr-download {
    height: 16px;
}

/* notify */
.header__notify {
    position: absolute;
    top: 150%;
    width: 404px;
    background-color: var(--white-color);
    right: 0;
    border: 1px solid #D3D3D3;
    transform-origin:calc(100% - 32px) top ;
    animation: headerNotifyGrowth ease-in 0.2s;
    display: none;
    z-index: 1;
    border-radius: 2px;
}

.header__notify::before {
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 0;
    top: -26px;
    content: "";
    position: absolute;
}

.header__notify::after {
    content: "";
    display: block;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
    position: absolute;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
    cursor: default;
}

.header__notify-header h3 {
    color: #666;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0 0 0 12px;
    line-height: 40px;
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
    width: 100%;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var( --text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-descrition {
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
    margin-top: 4px;
}

.header__notify-footer {
   display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    padding: 8px 0;
    width: 100%;
    text-align: center;
}

/* auth-form */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container {
    padding: 16px 32px;

}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form {
    
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 0.2rem;
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 20px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    color: var(--black-color);
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-margin {
    margin-right: 8px;
}

.auth-form__socials {
    padding: 16px 36px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
}

.auth-form__socials-icon {
    font-size: 1.8rem;

}

.auth-form__socials-facebook {
    background-color: #3A5A98 !important;
    color: var(--white-color) !important;
}

.auth-form__socials-title {
    margin: 0 36px;
}

.auth-form__socials-google {

}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    height: 18px;
    margin: 0 16px ;
    border-left: 1px solid #EAEAEA;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

/* Header-with-search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.overlay {
    position: fixed;
    top: 68px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    animation: fadeIn ease-in 0.2s;
    display: none;
}

.header__bar {
    display: none;
}

#checkbox-icon {
    display: none
}

.nav__input:checked ~ .overlay {
    display: block;
}

.nav__input:checked ~ .header__bar-signin-signup {
    transform: translateX(0);
}

.header__mobile-search {
    display: none;
}

.header__mobile-search-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    text-decoration: none;
    color: transparent;
    display: block;
    line-height: 2rem;
}

.header__logo-img {
    height: 50px;
}

.header__search {
    flex-grow: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header-cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
}

.header-cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list {
    position: absolute;
    top: 100%;
    right: -3px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 2px 3.125rem rgba(0, 0, 0, 0.2);
    margin-top: 9px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 2;
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    max-height: 40vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #F8F8F8;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
}

.header__cart-list-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-price-wrap {

}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.header__cart-item-price {
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 400;
}

.header__cart-item-multiply {
    color: #757575;
    font-size: 0.9rem;
    margin: 0 4px;
}

.header__cart-item-qtn {
    color: #757575;
    font-size: 1.2rem;
}

.header__cart-body {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.header__cart-item-decs {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-cart {
    float: right;
    margin: 12px 8px 12px 0;
}

.header__cart-view-cart:hover {
    background-color: #F05D41;
}

.header__cart-list::after {
    cursor: pointer;
    content: "";
    position: absolute;
    right: 2px;
    top: -30px;
    border-width: 18px 21px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-cart {
    padding: 28px 0;
}

.header__cart-list--no-cart .header__cart-list--no-cart-img,
.header__cart-list--no-cart .header__cart-list-message {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-list--no-cart-img {
    width: 70%;
    display: none;
}

.header__cart-list-message {
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}

.header__cart-notice {
    position: absolute;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.2rem;
    padding: 2px 8px;
    border-radius: 10px;
    top: -10px;
    right: -4px;
    border: solid var(--primary-color);
}

.header__search-input--wrap {
    flex-grow: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-select {
    border-left: 1px solid #e8e8e8;
    position: relative;
    padding-left: 16px;
    cursor: pointer;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: #333333;
    padding: 16px 8px;
}

.header__search-select-icon {
    margin:0 16px 0 8px;
    color: #4A4A4A;
    font-size: 1.4rem;
    position: relative;
    top: 0.8px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    border-radius: 2px;
    margin-right: 3px;
    width: 60px;
    outline: none;
}

.header__search-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: calc(100% - 1px);
    width: 135px;
    list-style: none;
    margin-top: 15px;
    box-shadow: 0 1px 3px #ccc;
    padding-left: 0;
    border-radius: 2px;
    display: none;
    animation: fadeIn linear 0.2s; 
    z-index: 1;
}

.header__search-option::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    top: -10px;
    left: 0;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
}

.header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item:hover {
    background-color: #EAEAEA;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin: 0 6px 0 16px;
    display: none;
}

.header__search-option-item--active i {
   display: inline-block;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

/* search history */
.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    background-color: var(--white-color);
    width: calc(100% - 16px);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(189 189 189);
    display: none;
    overflow: hidden;
    z-index: 1;
}

.header__search-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin:6px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--black-color);
    line-height: 38px;
    display: block;
}

.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    list-style: none;
    background-color: var(--white-color);
    height: var(--header-sort-bar-height);
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header__sort-item {
    flex: 1;
}

.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    position: relative;
}

.header__sort-link:first-child .header__sort-link::after{
    display: none;
}

.header__sort-link::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}

.header__sort-item--active {
    color: var(--primary-color);
}

/* body */
.app__container {
    background-color: #F5F5F5;
}

.app__content {
    padding-top: 36px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
   color: var(--text-color);
   font-size: 1.8rem;
   padding: 12px 16px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.05);
   margin-top: 0;
}

.category__heading-icon {
   font-size: 1.4rem;
   margin-right: 4px;
   position: relative;
   top: -0.5px;
}

.category-list {
   list-style: none;
   padding-left: 0;
   margin-top: 0;
}

.category-list:last-child {
    padding-bottom: 4px;
}

.category-item {
    padding: 8px 10px 8px 30px;
}

.category-item__link {
    position: relative;
   text-decoration: none;
   font-size: 1.6rem;
   color: var(--black-color);
   transition: right linear 0.1s;
   right: 0;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    position: absolute;
    border-width: 5px 5px;
    border-style: solid;
    border-color: transparent transparent transparent var(--primary-color);
    content: "";
    top: 50%;
    left: -14px;
    transform: translateY(-50%); 
}

/* mobile category */
.mobile-category {
    
}

.mobile-category-list {
    display: none;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-category-list::-webkit-scrollbar {
    display: none;
}

.mobile-category-item {
    flex-shrink: 0;
    margin-right: 10px;
}

.mobile-category-item:nth-of-type(3n + 1) .mobile-category-link {
    background-color: #87AFD8;
}

.mobile-category-item:nth-of-type(3n + 2) .mobile-category-link {
    background-color: #76C9BD;
}

.mobile-category-item:nth-of-type(3n + 3) .mobile-category-link {
    background-color: #88CF81;
}

.mobile-category-link {
    --line-height: 2rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    text-align: center;
    width: 110px;
    height: calc(var(--line-height) * 2);
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    border-radius: 4px;
    font-weight: 300;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    padding:  0 6px;
}


/* Home sort + filter */
.home-product {
    margin-bottom: 10px;
}

.home-filter {
    background-color: #ededed;
    display: flex;
    align-items: center;
    padding: 13px 20px;
    border-radius: 2px;
}

.home-filter__label {
    margin-right: 5px;
    color: #555555;
    font-size: 1.4rem;
}

.home-filter__btn {
    margin-left: 10px;
    min-width: 90px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-num-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    box-sizing: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-button {
    flex-grow: 1;
    display: flex;
    text-decoration: none;
    background-color: var(--white-color);
}

.home-filter__page-button-disable {
    background-color: #f9f9f9;
    cursor: default;

}

.home-filter__page-button-disable .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-button:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555555;
}

/* Product item */
.home-product-item {
    display: block;
    text-decoration: none;
    margin-top: 10px;
    position: relative;
    background-color: var(--white-color);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
    overflow: hidden;
}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 22px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__around {
    text-decoration: none;
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: 10px 10px 8px 10px;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
}

.home-product-item__price-new {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item-action {
    display: flex;
    justify-content: space-between;
    margin: 8px 10px 0 10px;
}

.home-product-item-action_love {
    font-size: 1.4rem;
}

i.home-product-item-action_love-icon-fill {
    display: none;
    color: #F63030;
}

.home-product-item-action_loved .home-product-item-action_love-icon-fill {
    display: inline-block;
}

.home-product-item-action_loved .home-product-item-action_love-icon-empty {
    display: none;
}

.home-product-item-action_star {
    color: #ccc;
    font-size: 0.9rem;
     margin: -1px 0 0 auto;
}

.home-product-item__star--gold {
    color:var(--star-gold-color);
}

.home-product-item__sold {
    font-size: 1.2rem;
    margin-left: 4px;
    color: var(--text-color);
}

.home-product-item__origin {
    margin:8px 10px;
}

.home-product-item__origin-name {
    font-size: 1.2rem;
    color: #000000A6;
}

.home-product-item__favorite {
    position: absolute;
    top: 10px;
    left: -4px;
    background-color: currentColor;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-size: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.home-product-item__favorite span {
    color: var(--white-color);
}

.home-product-item__favorite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favorite i {
    font-size: rem;
    margin: 0 2px 0 5px;
}

.home-product-item__favorite i {
    color: var(--white-color);
}

.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 36px;
    height: 32px;
    background-color: rgba(255, 216, 64, 0.9);
    text-align: center;
    border-top-right-radius: 2px;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    border-width: 0 18px 5px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.9) transparent rgba(255, 216, 64, 0.9);
}

.home-product-item__percent {
    font-size: 1.3rem;
    color: #f04d2f;
    font-weight: 600;
    position: relative;
    top: 2px;
    left: 3px;
}

.home-product-item__lable {
    line-height: 1.4rem;
    color: var(--white-color);
    font-weight: 500;
}

.home-product__pagination {
    margin-top: 48px;
    margin-bottom: 32px;
    padding-left: 0;
}

.footer {
    border-top: 3px solid var(--primary-color);
    padding-top: 16px;
    background-color: var(--white-color);
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer__list {
    list-style: none;
    padding-left: 0;
}

.footer__list-item-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 2px 0;
    display: flex;
    align-items: center;
}

.footer__list-item-link:hover {
    color: var(--primary-color);
}

.footer__list-item-icon {
    font-size: 1.6rem;
    margin-right: 8px;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
}

.footer__download-apps {
    flex-grow: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-app-img {
    height: 16px;
}

.footer__download-app-link {
    text-decoration: none;
}

.footer__bottom {
    background-color: #f5f5f5;
    min-height: 48px;
    padding: 8px 0;
    margin-top: 36px;
}

.footer__text {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    color: #737373;
}
